<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="Suite_webtest" >
  <suite-files>
      <!--suite-file path="LoginTest.xml"></suite-file>
      <suite-file path="LogoutTest.xml"></suite-file>
      <suite-file path="delAuditPlanTest.xml"></suite-file>
      <suite-file path="getAuditPlanListTest.xml"></suite-file>
      <suite-file path="getAuditPlanMapTest.xml"></suite-file>
      <suite-file path="getCheckAuditPlanNameTest.xml"></suite-file>
      <suite-file path="postAuditCenterTest.xml"></suite-file>
	  <suite-file path="postAuditPlanTest.xml"></suite-file>
      <suite-file path="getCheckRuleTest.xml"></suite-file>   
      <suite-file path="getInsttipsTest.xml"></suite-file>   
      <suite-file path="getMsgOptRecipeListTest.xml"></suite-file>   
      <suite-file path="getMsgOptPatientListTest.xml"></suite-file>   
      <suite-file path="getOptRecipeListTest.xml"></suite-file>   
      <suite-file path="getOptRecipeListallTest.xml"></suite-file>   
      <suite-file path="getAnalysisTypeTest.xml"></suite-file>   
      <suite-file path="getAuditDoctorListTest.xml"></suite-file>   
      <suite-file path="getDocGroupListTest.xml"></suite-file>   
      <suite-file path="getExportListTest.xml"></suite-file>   
      <suite-file path="getDeleteExportListTest.xml"></suite-file>   
      <suite-file path="getIptListTest.xml"></suite-file>   
      <suite-file path="getWorkStatisticsTest.xml"></suite-file>   
      <suite-file path="getWorkStatisticsExportTest.xml"></suite-file>   
      <suite-file path="getPeriodTest.xml"></suite-file>   
      <suite-file path="getIptMsgPatientListTest.xml"></suite-file>   
      <suite-file path="getWaitAuditIptListTest.xml"></suite-file>   
      <suite-file path="getWaitAuditIptListallTest.xml"></suite-file>   
      <suite-file path="getCurrentUserTest.xml"></suite-file>   
      <suite-file path="getDeptTreeTest.xml"></suite-file>   
      <suite-file path="getDeptListTest.xml"></suite-file>   
      <suite-file path="getChildrenDeptTest.xml"></suite-file>   
      <suite-file path="getDoctorInZoneTest.xml"></suite-file>   
      <suite-file path="getChildDrugCategoryTest.xml"></suite-file>   
      <suite-file path="getDrugCategoryTest.xml"></suite-file>   
      <suite-file path="getDrugListTest.xml"></suite-file>   
      <suite-file path="getProductListTest.xml"></suite-file>   
      <suite-file path="getChildDrugPropertyTest.xml"></suite-file>   
      <suite-file path="getDrugPropertyTreeTest.xml"></suite-file>   
      <suite-file path="getDrugPropertyListTest.xml"></suite-file>   
      <suite-file path="getChildIcd10Test.xml"></suite-file>   
      <suite-file path="getIcd10Test.xml"></suite-file>   
      <suite-file path="getpayTypeListTest.xml"></suite-file>   
      <suite-file path="getZoneListTest.xml"></suite-file>   
      <suite-file path="getMsgTest.xml"></suite-file>   
      <suite-file path="getAuditPlanSettingTest.xml"></suite-file>   
      <suite-file path="getOptRecipeElectronicMedicalallTest.xml"></suite-file>   
      <suite-file path="getOptRecipeOperationListallTest.xml"></suite-file>   
      <suite-file path="getOptRecipeExamListallTest.xml"></suite-file>   
      <suite-file path="getOptRecipeImageListallTest.xml"></suite-file>   
      <suite-file path="getOptDrugAuditRelatedallTest.xml"></suite-file>   
      <suite-file path="getOptRecipeSpecialExamListallTest.xml"></suite-file>   
      <suite-file path="getOptAuditResultListallTest.xml"></suite-file>   
      <suite-file path="getOptRecipeAllergyListallTest.xml"></suite-file>   
      <suite-file path="getOptRecipeOperationListTest.xml"></suite-file>   
      <suite-file path="getOptAroundAuditResultallTest.xml"></suite-file>   
      <suite-file path="getOptRecipeInfoallTest.xml"></suite-file>   
      <suite-file path="getExportTest.xml"></suite-file>   
      <suite-file path="getOptRecipeInfoTest.xml"></suite-file>   
      <suite-file path="getOptElectronicMedicalTest.xml"></suite-file>   
      <suite-file path="getOptRecipeExamListTest.xml"></suite-file>   
      <suite-file path="getOptRecipeImageListTest.xml"></suite-file>   
      <suite-file path="getOptDrugAuditRelatedTest.xml"></suite-file>   
      <suite-file path="getOptRecipeSpecialExamListTest.xml"></suite-file>   
      <suite-file path="getOptRecipeAllergyListTest.xml"></suite-file>   
      <suite-file path="getOptAuditResultListTest.xml"></suite-file>   
      <suite-file path="getOptEngineMsgListTest.xml"></suite-file>   
      <suite-file path="getResultReceiveTest.xml"></suite-file>   
      <suite-file path="getPatientCondtionListTest.xml"></suite-file>   
      <suite-file path="getOptEngineMsgListallTest.xml"></suite-file>   
      <suite-file path="getReplyTemplateListTest.xml"></suite-file>   
      <suite-file path="getIptWardListTest.xml"></suite-file>   
      <suite-file path="getMedicationInfoExportTest.xml"></suite-file>   
      <suite-file path="getIptPatientallTest.xml"></suite-file>   
      <suite-file path="getIptAllergyListallTest.xml"></suite-file>   
      <suite-file path="getIptDrugSensitiveListallTest.xml"></suite-file>   
      <suite-file path="getIptOrderListallTest.xml"></suite-file>   
      <suite-file path="getIptDiagnoseLisallTest.xml"></suite-file>   
      <suite-file path="getIptProgressListallTest.xml"></suite-file>   
      <suite-file path="getIptRecordListallTest.xml"></suite-file>   
      <suite-file path="getIptBacterialListallTest.xml"></suite-file>   
      <suite-file path="getIptOperationListallTest.xml"></suite-file>   
      <suite-file path="getIptVitalSignListallTest.xml"></suite-file>   
      <suite-file path="getIptNonOrderListallTest.xml"></suite-file>   
      <suite-file path="getIptHerbOrderListallTest.xml"></suite-file>   
      <suite-file path="getIptSpecialExamListallTest.xml"></suite-file>   
      <suite-file path="getIptImageListallTest.xml"></suite-file>   
      <suite-file path="getIptPathologicalListallTest.xml"></suite-file>   
      <suite-file path="getIptDrugAuditRelatedallTest.xml"></suite-file>   
      <suite-file path="getIptInfoAggregationallTest.xml"></suite-file>   
      <suite-file path="getIptPatientTest.xml"></suite-file>   
      <suite-file path="getIptAllergyListTest.xml"></suite-file>   
      <suite-file path="getIptDrugSensitiveListTest.xml"></suite-file>   
      <suite-file path="getIptOrderListTest.xml"></suite-file>   
      <suite-file path="getIptDiagnoseLisTest.xml"></suite-file>   
      <suite-file path="getIptProgressListTest.xml"></suite-file>   
      <suite-file path="getIptRecordListTest.xml"></suite-file>   
      <suite-file path="getIptBacterialListTest.xml"></suite-file>   
      <suite-file path="getIptOperationListTest.xml"></suite-file>   
      <suite-file path="getIptVitalSignListTest.xml"></suite-file>   
      <suite-file path="getIptNonOrderListTest.xml"></suite-file>   
      <suite-file path="getIptHerbOrderListTest.xml"></suite-file>   
      <suite-file path="getIptSpecialExamListTest.xml"></suite-file>   
      <suite-file path="getIptImageListTest.xml"></suite-file>   
      <suite-file path="getIptPathologicalListTest.xml"></suite-file>   
      <suite-file path="getIptDrugAuditRelatedTest.xml"></suite-file>   
      <suite-file path="getIptInfoAggregationTest.xml"></suite-file>   
      <suite-file path="getAuditAgreeTest.xml"></suite-file>   
      <suite-file path="getAuditRefuseTest.xml"></suite-file>   
      <suite-file path="delExportTest.xml"></suite-file>   
      <suite-file path="delReplyTemplateTest.xml"></suite-file>   
      <suite-file path="putAlertMssageStatusTest.xml"></suite-file>   
      <suite-file path="putAlertMsgDpRemarkTest.xml"></suite-file>   
      <suite-file path="putOpenAlertMsgDpRemarkTest.xml"></suite-file>   
      <suite-file path="putEndOfAuditTest.xml"></suite-file>   
      <suite-file path="putAuditBeatingTest.xml"></suite-file>   
      <suite-file path="putReleaseAuditingTest.xml"></suite-file>   
      <suite-file path="putAuditingTest.xml"></suite-file-->   
      <suite-file path="putAuditPlanTest.xml"></suite-file>   
  </suite-files> 
</suite> <!-- Suite -->
